<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- =============== Gazebo 控制插件 =============== -->
    <!-- planar_move 插件（给 ackermann_mid360 / 全向轮模型使用） -->
    <xacro:macro name="gazebo_control">

        <gazebo>
            <plugin name="planar_move" filename="libgazebo_ros_planar_move.so">

                <ros>
                    <namespace>/</namespace>
                    <remapping>cmd_vel:=/cmd_vel</remapping>
                    <remapping>odom:=/odom</remapping>
                </ros>

                <update_rate>100</update_rate>
                <odometry_frame>odom</odometry_frame>
                <publish_odom>true</publish_odom>
                <publish_odom_tf>true</publish_odom_tf>

                <robot_base_frame>base_footprint</robot_base_frame>

                <max_vel_x>0.8</max_vel_x>
                <max_vel_y>0.0</max_vel_y>
                <max_vel_theta>0.6</max_vel_theta>

                <max_accel_x>0.4</max_accel_x>
                <max_accel_y>0.0</max_accel_y>
                <max_accel_theta>0.3</max_accel_theta>

            </plugin>
        </gazebo>

    </xacro:macro>

</robot>